# --- CORE API ---
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# --- BASE DE DATOS (PostgreSQL + ORM) ---
sqlalchemy
alembic
psycopg2-binary

# --- SEGURIDAD Y RGPD ---
pydantic[email]
passlib[argon2]
PyJWT
cryptography

# --- EXPORTACIÓN DE DATOS ---
weasyprint
openpyxl

python-jose[cryptography]