# --- CORE API ---
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# --- BASE DE DATOS (PostgreSQL + ORM) ---
sqlalchemy
alembic
psycopg2-binary
pydantic-settings

# --- SEGURIDAD Y RGPD ---
pydantic[email]
email-validator
passlib[argon2]
PyJWT
cryptography
python-jose[cryptography]

# --- EXPORTACIÓN Y PDF ---
reportlab
pypdf
pillow
weasyprint
openpyxl

# --- OTROS ---
fastapi_mail